
#header {
	width: 100%;
	
	padding: 2px;
	
	border: solid;
	border-color: black;
	border-width: 1px;
	
	font-size: 20px;
	font-family:  'Saira Extra Condensed', sans-serif;
}

#alley {
	font-size: 32px;
	height: 34px;
	font-family:  'Saira Extra Condensed', sans-serif;
}

#placePrefix {
	font-size: 32px;
	height: 34px;
	font-family:  'Saira Extra Condensed', sans-serif;
}

#generate {
	font-size: 20px;
	font-family:  'Saira Extra Condensed', sans-serif;
}

#side {
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	
	height: 34px;
	line-height: 34px;
	-webkit-appearance: menulist-button;  
	-moz-appearance:none;
}

.topoBox {
	font-family:  'Saira Extra Condensed', sans-serif;
	text-align: left;
	width: 210px;
	
	border: solid;
	border-width: 1px;
	display: inline-block;
	
	margin: 0px;
	padding: 0px;
	
	overflow-x: hidden;
}

.topoBoxText {
	font-size: 32px;
}

.topoBoxSmallText {
	font-size: 20px;
}

.topoBoxValue {
	font-size: 64px;
	line-height: 20px;
	vertical-align: top;
	text-align: center;
}

.placeBarcode {
	padding-left: 30px;
	padding-right: 0px;
	
	height: 280px;
	width: 150px;
}

.topoArrow {
	padding-left: 15px;
}
